# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
site_config.py
.certs/

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Logs
*.log

commit.*
release.*
logs
bandit-results.sarif
bandit-results.json

# Package build
*.egg-info/
dist/
build/

.scannerwork
local_config.py
.coverage
